%main.main
  .app-title
    %h1.main-title
      %span.my My 
      %span.circle Circle 
    %h2.sub-title
      Expand your professional circle

  .subscribe 
    %p.subscribe-now
      Enter your information below to subscribe to updates!
    = form_for @alpha_user, remote: true do |f|
      = f.text_field :name, class: "name-field", placeholder: "What's your name?"
      %br
      = f.text_field :email, class: "email-field", placeholder: "What's your e-mail address?"
      %br
      = f.submit "Go!", class: "subscribe-btn"
    %p.subscribe-msg
      Thank you for subscribing!


