.blog-post 

  %h2.blog-post-title
    My First Blog Post

  .blog-post-content
    %p
      Sweet! Although he said he wouldn’t be around after his talk at the Startup Conference in Redwood City,
      it was still cool that he tweeted me back. I’ve been wanting to personally connect with Ryan for a few
      months and provide any value I possibly can to him. He and his start-up, Product Hunt (YC14), blew up this
      past year in the start-up community. Product Hunt is a web application in which users surface the newest
      products and start-ups every day, so you’ll never miss out on anything. If you’re looking for the next
      solution to make your life easier as a CEO, software engineer, product manager, or whatever your title
      may be, then give Product Hunt a look. You’re guaranteed to discover something cool!

    %p
      As an aspiring entrepreneur who really likes start-ups, I want to be in Ryan’s spot. He gives talks at
      conferences, is a Y-Combinator alum, is a podcaster and author, and many more things. On top of that,
      he’s extremely young. Not only do I want to provide value to these kinds of people and build a relationship
      with them, I’d love to hear and learn from them as well. Although I haven’t actually met Ryan yet, it was
      still great to exchange tweets and e-mails with him.

    