// Fonts
$root-font-size: 16px;
$big-root-font-size: 2rem;
$main-title-font-size: 8rem;
$big-font-size: 1.25rem;

// Colors
$main-color: #66A; // Purple			 
$btn-primary-background-color: #333; // Dark Grey
$btn-primary-background-color-light: lighten($btn-primary-background-color, 15%); // Light Dark Grey
$btn-color: #FFF; // White