!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p The following user has registered:
    Name: #{@alpha_user.name}
    %br/
    E-mail: #{@alpha_user.email}