// Used for primary buttons
.btn-primary {
  background-color: $btn-primary-background-color;
  border: none;
  border-radius: 10px;
  color: $btn-color;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 1rem 1.5rem;

  &:hover {
    background-color: $btn-primary-background-color-light;
  }
}

// Used for buttons that are under form fields
.btn-vertical {
  margin-top: 1em;
}