// Transparent background behind modal
.modal-active {
  opacity: 0.1;
}

.modal {
  background-color: #FFF;
  border-radius: 10px;
  bottom: 0;
  color: #000;
  display: none;
  left: 0;
  margin: auto;
  padding: 1em;
  position: fixed;
  text-align: left;  
  top: 0;
  right: 0;
}

// Used with .modal class
.modal-big {
  height: 500px;
  width: 500px;
}

  .modal-text {
    &:first-child {
      margin-top: 0;
    }

    line-height: 1.5em;
    margin-top: 2em;
  }

  .modal-btn-wrapper {
    bottom: 1em;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
  }